<%= simple_form_for [@session_form], url: [:sessions], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :email, wrapper: :medium_input %>
    <%= f.input :password, wrapper: :medium_input %>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_post'%>
        </div>
    </div>
<% end %>