<h1> Welcome, Ali </h1>
<div>
    <%= link_to "show all", [:show_all, :admin, @posts]%>
    <table>
    <% @posts.each do |post|%>
        <tr>
            <td><%= post.title %></td>
            <td><%= link_to "edit", [:edit, :admin, post] %></td>
            <td><%= post.status %></td>
        </tr>
    <% end %>
    </table>
</div>