//= require 'font-awesome'

@import "bootstrap";
@import "bootswatch-lumen";

$primary-color: #34495e; //deep-blue
$primary-color-shadow: darken($primary-color, 5%);
$secondary-color: #c0392b; //dark-red
$secondary-color-shadow: darken($secondary-color, 5%);
$background: #fcfcfc; //offwhite
$text-with-dark-bg: lighten($background, 5%);
$footer-text: #bdc3c7;


body {
  background-color: $background;
}

.panel-footer {
  border-radius: 0px !important;
}

.tags {
  .label {
    margin-right: 5px;
  }
}

.label-tags {
  background-color: $secondary-color;
  a{ color: white; }

}

.panel-post {
  .panel-heading {
    background-color: $primary-color;
    color: white;
    small {
      color: $text-with-dark-bg;
    }
  }
}

.tag-cloud {
  text-align: center;
  .label {
    display: inline-block;
    margin: 3px 2px;
  }
  .s { font-size: 80%; }
  .m { font-size: 100%; }
  .l { font-size: 120%; }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $primary-color;
  border-color: $primary-color-shadow;
}

.footer {
  color: $footer-text;
}

.btn-primary-theme{
  background-color: $primary-color;
  border-color: $primary-color-shadow;
  color: white;
}

.btn-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color-shadow;
  color:white;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
}