@import "bootstrap";
@import "bootswatch-lumen";

body {
  background-color: #fcfcfc;
}

.panel-footer {
  border-radius: 0px !important;
}

.tags {
  .label {
    margin-right: 5px;
  }
}

.label-tags {
  background-color: #f1c40f;
}

.panel-post {
  .panel-heading {
    background-color: #2c3e50;
    color: white;
    small {
      color: #fafafa;
    }
  }
}

.tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}