@import "bootstrap";
@import "bootswatch-lumen";

body {
  background-color: #fcfcfc;
}

.panel-footer {
  border-radius: 0px !important;
}

.tags {
  .label {
    margin-right: 5px;
  }
}

.panel-post {
  .panel-heading {
    background-color: #34495e;
    color: white;
    small {
      color: #fafafa;
    }
  }
}