<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Tags</h2>
    </div>
    <div class="panel-body tag-cloud tags">
        <% tag_cloud(@tags, %w[s m l]) do |tag, css_class| %>
            <span class="label label-tags <%= css_class %>">
                <%= link_to tag.name, tag_posts_path(tag.name) %>
            </span>
        <% end %>

    </div>
</div>