<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">About Me</h2>
    </div>
    <div class="panel-body">
        <p>Computer Science student at FAU, enjoys math, coding, and coffee.
        Frequently caught daydreaming about silly fantasy novels, Pokemon, and
        interesting math problems. Loves to cook, read in the bath, and play children’s
        collectible card games.</p>
    </div>
</div>