<footer>
    <div class="navbar navbar-fixed-bottom">
        <div class="container footer">
            copyright alison neer 2014
            <div class="pull-right">
                <a href = "https://github.com/alikoneko"><i class="fa fa-github-alt">GitHub</i></a>
            </div>
        </div>
    </div>
</footer>