<footer>
    <div class="container">
        <div class="footer">
        copyright alison neer 2014

        <div class="pull-right">
            <a href="mailto:alison.neer@gmail.com"><i class="fa fa-envelope-o icon-2x"></i></a>  <a href = "https://github.com/alikoneko"><i class="fa fa-github-alt icon-2x"></i></a>
        </div>
        </div>
    </div>
</footer>